<div class="contents row" >
 <%= evil_icons_sprite %>
<p><%= evil_icon 'ei-user' %><%= @name %>さんの投稿一覧</p>
<% @posts.each do |post| %>
  <div class="content_post" >
  <td><%= post.title %></td>
  <td><%= simple_format(post.text) %></td>
  <td><%= post.image %></td>
  </div>
<% end %>
<%= paginate(@posts) %>
</div>

<% @similarity.each do |post| %>
     <%= post %>
<% end %>
<%= link_to 'Back', posts_path %>
