<%= form_with(model: post, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>


  <div class="actions">
  <%= evil_icons_sprite %>
    <%= evil_icon 'ei-share-apple' %><%= form.submit %>
  </div>
<% end %>
