<div class="contributor">
<ul>
<li><%= post.image %></li>
<li><%= post.title %></li>
<li><%= post.text %></li>
<li><%= link_to 'Show', post %></li>

<% if user_signed_in? && current_user.id == post.user_id %>
    <li><%= link_to 'Edit', edit_post_path(post) %></li>
    <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: '本当に削除しますか?' } %></li>
<% end %>
</ul>
</div>