<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>


<div class="container"> 
  <% unless current_user.id ==  @post.user_id%>
    <%= form_with url: "/posts/#{@post.id}/comments", method: :post do |f| %> 
      <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
      <%= f.label :評価　%>
      <%= f.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1 %>
      <input type="submit" value="SENT">
    <% end %>
    <%= form_tag(action: :pay, method: :post) do %>
      <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_8c172fa1ade4e914662fffb9"></script>
　　<% end %>
  <% end %>
  </div>


<div class="comments">   
<h4>＜コメント一覧＞</h4>
<% if @comments %>
  <% @comments.each do |comment| %>
    <p>
      <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
      <%= comment.text %>
    </p>
  <% end %>
<% end %>
</div>


<% if user_signed_in? && current_user.id == @post.user_id %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
 
<%= link_to 'Back', posts_path %>
