<!DOCTYPE html>
<html>
  <head>
    <title>Original5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>

  <body>
  <header class=header>
  <h1 class="toptitle"><a href="/"><span>POSTTER</span></a></h1>
  <% if user_signed_in? %>
  <div class="user_nav">
    <a href="/users/<%= current_user.id %>">マイページ</a>
    <%= link_to "ログアウト", destroy_user_session_path, class: 'post', method: :delete %>
  </div>
<% else %>
  <div class="user_nav">
    <%= link_to "ログイン", new_user_session_path, class: 'post' %>
    <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
  </div>
<% end %>
</header>

    <div class="contents-1">
    <%= yield %>
    </div>

   
  </body>
</html>
